<form action="/cart" method="POST">
  <input type="hidden" name="productId" value="<%= product._id %>" />
  <input type="hidden" name="price" value="<%= product.price %>" />
  <button
    class="bg-slate-700 px-[1rem] py-[0.5rem] rounded shadow-sm text-slate-200 hover:bg-gradient-to-br from-yellow-300 to-red-400 hover:text-gray-900"
  >
    Add to Cart
  </button>
</form>
