<form action="/cart" method="POST">
  <input type="hidden" name="productId" value="<%= product.id %>" />
  <input type="hidden" name="price" value="<%= product.price %>" />
  <button class=" group-hover:bg-lime-400 group-hover:text-black group-hover:border-black btn ease-in duration-700">Add to Cart</button>
</form>
