<%- include("./components/head.ejs") %> <%- include("./components/navbar.ejs")
%>
<main class="flex justify-center items-center" >
<h1 class="text-red text-[4rem] ">Page Not Found!!!</h1>
</main>
<%- include("./components/footer.ejs")%>
