<%- include("./components/head.ejs") %> <%- include("./components/navbar.ejs")
%>
<main class="main flex justify-center items-center">
  <h1 class="text-[3rem] text-red-400">Page Not Found!!!</h1>
</main>
<%- include("./components/footer.ejs")%>
