<%- include("./components/head.ejs") %> <%- include("./components/navbar.ejs")
%>
<main class="flex-grow flex justify-center items-center bg-gray-900">
  <h1 class="text-[3rem] text-red-400">Page Not Found!!!</h1>
</main>
<%- include("./components/footer.ejs")%>
