<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>

<main>
  <h1>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto
    accusantium excepturi rerum aut sequi fugiat unde aliquid nobis, repellendus
    eum iusto. Hic recusandae velit aut vitae, aperiam saepe? At, id.
  </h1>
</main>
<%- include("../components/footer.ejs")%>
