<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>
<main
  class="main grid md:grid-cols-2 gap-8 justify-center bg-[url(/img/bg_home.jpg)] bg-center bg-no-repeat"
>
  <%-include("../components/status-message.ejs", {errorMessage,
  successMessage})%>
  <div
    class="w-full flex flex-col gap-6 md:gap-12 text-center bg-slate-900/60 text-slate-200 px-[1rem] py-[2rem] md:px-[2rem] md:py-[4rem] rounded-xl shadow-md shadow-gray-900"
  >
    <h1 class="text-slate-50 text-[1.5rem] md:text-[3rem] text-center">
      Be proud for you contribution against climate change!!!
    </h1>
    <h2 class="text-[1.2rem] text-center">
      Sell your old stuff && buy stuff cheap!!!
    </h2>
    <h2 class="text-[1.2rem] text-center">Save Resources === Save World</h2>
  </div>
  <div class="flex justify-center items-center">
    <div
      class="flex gap-4 md:gap-12 items-center justify-center px-2 text-center flex-wrap"
    >
      <a
        class="bg-slate-900/80 shadow-md shadow-gray-900 md:px-[2rem] md:py-[1rem] md:text-[2rem] btn"
        href="/login"
        >Lgoin</a
      >
      <a
        class="bg-slate-900/80 shadow-md shadow-gray-900 md:px-[2rem] md:py-[1rem] md:text-[2rem] btn"
        href="/signup"
        >Join us</a
      >
      <a
        class="bg-slate-900/80 shadow-md shadow-gray-900 md:px-[2rem] md:py-[1rem] md:text-[2rem] btn"
        href="/products"
        >Start shoping</a
      >
    </div>
  </div>
</main>
<%- include("../components/footer.ejs")%>
